.background-site
{
    background: url("img/fon.png") repeat;
}

.header-float-right
{
    float: right;
}

.header-float-left
{
    float: left;
}

.newspaper-title-description
{
    display: inline-block;
}

.newspaper-title-border
{
    width: 205px;
    height: 80px;
    padding: 8px;
    margin: 4px;
    border: 1px solid #000;
}

.newspaper-title
{
    font-size: 40px;
    padding-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
    color: #789;
    line-height: 100px;
}

.newspaper-title-size-m
{
    text-decoration: underline;
}

.newspaper-title-description
{
    line-height: 14px;
    font-size: 14px;
}

.newspaper-header-title,
.newspaper-title-size-m,
.newspaper-article-title,
.newspaper-article-title-m,
.newspaper-settings
{
    text-align: center;
}

.newspaper-header-title
{
    font-size: 14px;
    border-bottom: 4px double #000;
    border-top: 4px double #000;
    padding: 5px 0;
}

.newspaper-article-one
{
    float: left;
    column-rule: 1px solid #ccc;
    -webkit-column-rule: 1px solid #ccc;
    column-count: 3;
    -webkit-column-count: 3;
    font-size: 12px;
    margin-right: 10px;
}

.newspaper-article-title-s
{
    font-size: 16px;
    text-align: center;
}

.newspaper-article
{
    display: inline-flex;
    border-top: 1px solid #000;
}

.newspaper-article-two
{
    float: right;
}

.newspaper-article-two-column
{
    column-rule: 1px solid #ccc;
    -webkit-column-rule: 1px solid #ccc;
    column-count: 2;
    -webkit-column-count: 2;
    font-size: 12px;
}

.newspaper-article-image
{
    text-align: center;
}

.newspaper-article-image-description
{
    color: lightslategrey;
    font-style: italic;
}

.newspaper-article-hr
{
    width: 100px;
    border: 1px dashed #000;
}

.newspaper-article-title
{
    margin: 10px auto;
    color: #789;
    font-size: 30px;
    width: 25px;
    line-height: 25px;
    text-align: center;
}

.newspaper-article-white-space
{
    white-space: pre;
}


.newspaper-article-column-span-all
{
    column-span: all;
    -webkit-column-span: all;

}

.newspaper-article-blockquote
{
    margin: 10px 20px;
    padding: 15px;
    font-style: italic;
    font-size: 12px;
    border: solid 1px #aebcc9;
}

p
{
    hyphens: auto;
    -webkit-hyphens: auto;
    word-break: break-all;
}

p::first-letter
{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #778899;
}

input[class=font-size-12],
input[class=font-size-16],
input[class=font-size-20],
input[class=font-family-serif],
input[class=font-family-times],
input[class=font-family-arial],
input[class=font-theme-blue],
input[class=font-theme-black]
{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

span
{
    display: block;
}

label
{
    width: 150px;
    display: inline-block;
    margin: 5px 0;
    background: #789;
    padding: 5px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

label:hover
{
    cursor: pointer;
}

input[class=font-size-12]:checked ~ article div p,
input[class=font-size-12]:checked ~ article div .newspaper-article-blockquote,
input[class=font-size-12]:checked ~ article div .newspaper-article-image
{
    font-size: 12px;
}

input[class=font-size-12]:checked ~ article div .newspaper-article-title-s
{
    font-size: 16px;
}

input[class=font-size-16]:checked ~ article div p,
input[class=font-size-16]:checked ~ article div .newspaper-article-blockquote,
input[class=font-size-16]:checked ~ article div .newspaper-article-image
{
    font-size: 16px;
}

input[class=font-size-16]:checked ~ article div .newspaper-article-title-s
{
    font-size: 20px;
}

input[class=font-size-20]:checked ~ article div p,
input[class=font-size-20]:checked ~ article div .newspaper-article-blockquote,
input[class=font-size-20]:checked ~ article div .newspaper-article-image
{
    font-size: 20px;
}

input[class=font-size-20]:checked ~ article div .newspaper-article-title-s
{
    font-size: 24px;
}

input[class=font-family-serif]:checked ~ article div p,
input[class=font-family-serif]:checked ~ article div .newspaper-article-blockquote,
input[class=font-family-serif]:checked ~ article div .newspaper-article-image
{
    font-family: 'PT Serif', serif;
}

input[class=font-family-times]:checked ~ article div p,
input[class=font-family-times]:checked ~ article div .newspaper-article-blockquote,
input[class=font-family-times]:checked ~ article div .newspaper-article-image
{
    font-family: 'Times New Roman', serif;
}

input[class=font-family-arial]:checked ~ article div p,
input[class=font-family-arial]:checked ~ article div .newspaper-article-blockquote,
input[class=font-family-arial]:checked ~ article div .newspaper-article-image
{
    font-family: Arial, sans-serif;
}

input[class=font-theme-blue]:checked ~ article div .newspaper-article-title-s,
input[class=font-theme-blue]:checked ~ article div .newspaper-article-title-m
{
    color: #aebcc9;
}

input[class=font-theme-blue]:checked ~ article div p,
input[class=font-theme-blue]:checked ~ article div .newspaper-article-blockquote,
input[class=font-theme-blue]:checked ~ article div .newspaper-article-image
{
    color: #fff;
}

input[class=font-theme-blue]:checked ~ article
{
    background: url("img/fon-black.png") repeat;
}

input[class=font-theme-black]:checked ~ article div p
{
    color: #000;
}

input[class=font-theme-black]:checked ~ article
{
    background: url("img/fon.png") repeat;
}
